body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    background-color: #1f1c22;
    color: whitesmoke;
    
}

p{
    margin: 0 0 5px;
}

table {
    border: 1px solid #660080;
}

.header {
    text-align: center;
    margin-bottom: -15px;
}

.faq {
    margin: 40px auto;
    max-width: 800px;
    
}

td {
    padding: 20px 50px 20px 10px;
}



.faq-item {
    margin-bottom: 5px;
    border: 1px solid #660080;
}

.faq-title {
    display: block;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    transition: background .2s ease-out;

}

.faq-title:hover {
    background-color: #660080;
}

.faq-text {
    display: none;
}

.faq-input {
    appearance: none;
    width: 0;
    height: 0;
    -webkit-appearance: none;
    position: absolute;
}

.faq-input:checked ~ .faq-title {
    background-color: #660080;
}

.faq-input:checked ~ .faq-text {
    display: block;
}